
<div class="nv_pair">
	<div class="header">Name</div> 
	<div><%= @content_block.name %></div>
</div>
<div class="nv_pair">
	<div class="header">E-mail</div> 
	<div><%= @content_block.email %></div>
</div>
<div class="nv_pair">
	<div class="header">Subject</div> 
	<div><%= @content_block.subject %></div>
</div>

<div class="header">Question</div> 
<div class="content">
	<p><%= @content_block.message %></p>
</div>

